@{
    ViewBag.Title = "Home Page";
}

<div class="row justify-content-center" style="margin-top:150px">
    <div class="col-6">
        <h1 id="fnuc-title" class="text-center" style="font-size:200px">FNUC</h1>
        <h1 class="text-center">Parce qu'on vous la met dans le luc</h1>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#fnuc-title").addClass(['animated', 'flipInX']);
    });
</script>