@model IEnumerable<EcommerceMVC.Models.ProductModel>

@{
    ViewBag.Title = "GetProductsByCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (Model.Count() == 0)
{
    <div class="row my-5">
        <h2>There are no products (yet) in this category :'(</h2>
    </div>
}
else
{
    <h2>@ViewBag.CategoryName</h2>
    <div class="row my-5">

        @foreach (var item in Model)
        {
            @Html.Partial("_ProductDetails", item)
        }

    </div>
}
